<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WordNet -->
      <package
            uri="http://www.mdh.se/examples/refactorings/WordNet"
            class="se.mdh.idt.benji.examples.refactorings.wordnet.WordnetPackage"
            genModel="model/WordNet.xcore"/>
   </extension>

</plugin>
