<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension point="org.eclipse.viatra.query.patternlanguage.emf.purewhitelist">
    <pure-element fully-qualified-name="java.util.UUID.randomUUID" type="method"/>
  </extension>
  <extension id="se.mdh.idt.benji.examples.refactorings.Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:se.mdh.idt.benji.examples.refactorings.Queries" id="se.mdh.idt.benji.examples.refactorings.Queries">
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.RenamePackagePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.RenamePackagePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.RenameURIPackagePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.RenameURIPackagePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeletePackagePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeletePackagePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddPackagePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddPackagePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddClassPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddClassPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.RenameClassPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.RenameClassPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeleteClassPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeleteClassPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ExtractClassPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ExtractClassPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddAttributePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddAttributePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeleteAttributePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeleteAttributePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ChangeAttributeTypePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ChangeAttributeTypePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddReferencePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.AddReferencePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeleteReferencePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.DeleteReferencePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ChangeReferenceTypePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ChangeReferenceTypePostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ExtractSuperclassPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ExtractSuperclassPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ChangeClassAbstractPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.ChangeClassAbstractPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.PushDownAttributePrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.PushDownAttributePostcondition"/>
    </group>
  </extension>
</plugin>
