<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="se.mdh.idt.benji.examples.refactorings.wordnet.queries.SynsetPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:se.mdh.idt.benji.examples.refactorings.wordnet.queries.SynsetPatterns" id="se.mdh.idt.benji.examples.refactorings.wordnet.queries.SynsetPatterns">
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.created_synset"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.deleted_synset"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset_gloss"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset_gloss"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset_gloss"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.set_synset_gloss"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.unset_synset_gloss"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset_words"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset_words"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset_words"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.inserted_synset_words"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.removed_synset_words"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset_hyponyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset_hyponyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset_hyponyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.inserted_synset_hyponyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.removed_synset_hyponyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset_hyperonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset_hyperonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset_hyperonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.inserted_synset_hyperonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.removed_synset_hyperonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset_meronyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset_meronyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset_meronyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.inserted_synset_meronyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.removed_synset_meronyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_synset_holonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_synset_holonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_synset_holonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.inserted_synset_holonyms"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.removed_synset_holonyms"/>
    </group>
  </extension>
  <extension id="se.mdh.idt.benji.examples.refactorings.wordnet.queries.WordPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:se.mdh.idt.benji.examples.refactorings.wordnet.queries.WordPatterns" id="se.mdh.idt.benji.examples.refactorings.wordnet.queries.WordPatterns">
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_word"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_word"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_word"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.created_word"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.deleted_word"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_word_name"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_word_name"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_word_name"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.set_word_name"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.unset_word_name"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.initial_word_synsets"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.current_word_synsets"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.preserved_word_synsets"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.inserted_word_synsets"/>
      <query-specification fqn="se.mdh.idt.benji.examples.refactorings.wordnet.queries.removed_word_synsets"/>
    </group>
  </extension>
</plugin>
